_old
_old2
.tscache
.vscode
Client/obj
Client/Client.csproj.user
Server/obj
Server/Server.njsproj.user
bin
cribbage
data
node_modules
routes
services
settings
typings
app.js
cribbage.js
data.js
npm-debug.log
routes.js
services.js
settings.js