.card {
    /* padding-right: 10px;
    padding-left: 10px; */
    float: left;
    text-align: center;
    color: #000;
    min-height: 50px;
    min-width: 25px;
    max-height: 300px;
    max-width: 150px;
    /* background-color: #fff; */
    border-style: none;
    /* border-color: #000;
    border-radius: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px; */
    /* clear: both; */
}

.hero {
    width: 100%;
}

.display-image {
    height: 200px;
    width: 100%;
}

.spacing {
    margin-top: 100px;
}

.card-spacing {
    padding-bottom: 40px;
}

.list-title:hover {
    color: #0000ff;
    cursor: pointer;
}