.card {
    /* padding-right: 10px;
    padding-left: 10px; */
    float: left;
    text-align: center;
    color: #000;
    min-height: 115px;
    min-width: 75px;
    max-height: 230px;
    max-width: 150px;
    /* background-color: #fff; */
    border-style: none;
    /* border-color: #000;
    border-radius: 2px 2px 2px 2px;
    border-width: 2px 2px 2px 2px; */
    /* clear: both; */
}

.card.deck {
    position: relative;
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}

[draggable=true] {
    cursor: pointer;
}

.hero {
    width: 100%;
}

.display-image {
    /* height: 200px; */
    height: 100%;
    width: 100%;
}

.spacing {
    margin-top: 100px;
}

.card-spacing {
    padding-bottom: 40px;
}

.list-title:hover {
    color: #0000ff;
    cursor: pointer;
}